.custom-shape-divider-top-1705364147 {
    
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    height: 400px;
    background-color: Yellow;

     .custom-shape-divider-top-1705364147 svg {
         position: relative;
         display: block;
         width: calc(111% + 1.3px);
         height: 200px;
         transform: rotateY(180deg);
     }
    
    .custom-shape-divider-top-1705364147 .shape-fill {
        fill: #FFFFFF;
    }
}

