.custom-shape-divider-top-1705364147 {
    
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    height: 400px;
    background-color: Yellow;

     .custom-shape-divider-top-1705364147 svg {
         position: relative;
         display: block;
         width: calc(111% + 1.3px);
         height: 200px;
         transform: rotateY(180deg);
     }
    
    .custom-shape-divider-top-1705364147 .shape-fill {
        fill: #FFFFFF;
    }
}

.about-message {
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding: auto;

    p {
        text-align:justify;
    }
}

.accordion {
    
    --bs-accordion-btn-bg:    white;
    --bs-accordion-active-bg: 
    #198754;
    --bs-accordion-active-color: white;
    --bs-accordion-btn-focus-box-shadow: none;
    
  

}
a{
    text-decoration: none; color: inherit;
}
